{% extends "base.html.twig" %}

{% block body %}
    {{ include('components/head/head.html.twig') }}
    {{ include('components/menu/menu-finalizacao.html.twig') }}
    <section class="container-main">

        <div class="box">
            <header class="menu-header"><b>Menu</b></header>
        </div>
   
    </section>
{% endblock %}