{% extends "base.html.twig" %}

{% block body %}
    
    <section class="container-menu">

         <div class="box-menu">
            <header class="menu-header"><b>Menu</b></header>

            <ul class="menu-ul">
                <li class="menu-li">
                    <a href="/home"><b>Home</b></a>
                </li>
                 <li class="menu-li">
                    <a href="template/finalizacao"><b>Finalização</b></a>
                </li>
                 <li class="menu-li">
                    <a href=""><b>Sair</b></a>
                </li>
            </ul>
        </div> 
   
    </section>
{% endblock %}